  table,th,td {
        border:1px solid black;
        border-collapse: collapse;
    }

    th {
        text-align: center;
    }

    table#tabla{
        width: 100%;
        background-color:#a1afff;
    }