*{
	padding: 0;
	margin: 0;
	font-family: 'DM Sans', sans-serif;
	box-sizing: border-box;
}

body{
	background: url("imagenes/bg.png");
	
}

#btnReg:hover{text-decoration: underline;}

.contenedor{
	text-align: center;	
	width: 600px;
    height: 400px;
    background-color: #fff /*#e3e3e3*/;
    margin-top: 10%;
    margin-left: 32%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38);
}
 /*.contenedor {
            width: 600px;
            height: 400px;
            margin: 30px;
            margin-top: 10%;
            margin-left: 32%;
            background: #fff;
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38);
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38);
        }*/

.contenedor h2{
	font-size: 40px;
	text-align: center;
	width: 100%;
	background:#000;
	color:#fff; 
}

.contenedor .input{
	font-size: 20px;
	height: 40px;
	border-radius: 2px 2px 2px 2px;

}
.contenedor .check{
	margin-bottom: 13px;

}
.checkbox{
	text-align: left;
	margin-bottom: 6%;
}


.form-group{
	border-radius:0px;
	
}

