*{
	font-family: 'Oswald', sans-serif;
}

body{
	background: url("imagenes/bg.png");
}
.contenedor{
	width: 28%;
	max-width: 1000px;
	margin: 20px auto;
	margin-top: 10%;
    margin-left: 32%;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38);
	background-color: #000;
}

h2{
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	text-align: center;	
	width: 100%;
	background:#000;
	color:#fff; 
}
.list-group-item{
	color:#000;
}
.list-group-item:hover{
	background: #0ec043;
	color:#fff; 
}

#inicio{
	border-radius: 0px;
}


/*.contenedor{
	
    max-width: 1000px;
    background-color: #e3e3e3;
    margin-top: 10%;
    margin-left: 32%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38);
}*/