*{
	padding: 0;
	margin: 0;
	font-family: 'DM Sans', sans-serif;
	box-sizing: border-box;
}

body{
	background: url("imagenes/bg.png");
	
}

.contenedor{
	text-align: center;	
	width: 30%;
    max-width: 1000px;
    background-color: #fff /*#e3e3e3*/;
    margin-top: 10%;
    margin-left: 32%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38);
}


.contenedor h2{
	font-size: 40px;
	text-align: center;
	width: 100%;
	background:#000;
	color:#fff; 
}

.contenedor .input{
	margin-top: 5px;
	font-size: 20px;
	height: 40px;
	border-radius: 2px 2px 2px 2px;

}


.btn {
	margin-top: 10px;
	margin-bottom: 15px;
}
